<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>email_ejs</title>
</head>
<body>
    <h1>
    welcome!! <%= email %>

    <p>
        ejs를 이용해서 당신의 이메일을 화면에 뿌려주고 있습니다.
        <%= password %> 당신의 비밀번호 맞죠?ㅎㅎ
    </p>
    </h1>
</body>
</html>